.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.4);

  height: 68px;
  padding: 24px;
  padding: 8px 124px;
}
.link {
  color: #3470ff;
  font-weight: bold;
}

.activeLink {
  color: black;
}

.logo {
  color: black;
  & span {
    color: #3470ff;
  }
}

.linkList {
  display: flex;
  gap: 24px;
}
