.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.wrapperList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.carCard {
  border-radius: 16px;
  overflow: hidden;

  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.carCard:hover {
  transform: translateY(-4px);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: #8d929a;
  padding: 8px 0;
}

.info > div {
  display: flex;
  flex-wrap: wrap;
}

.info p {
  margin: 0;
  padding: 0 4px;
  white-space: nowrap;
  position: relative;
}

.info p:not(:first-child)::before {
  content: "|";
  color: #8d929a;
  margin-right: 6px;
}

.image {
  width: 276px;
  height: 268px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
  border-radius: 12px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  color: #101828;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  & span {
    color: #3470ff;
  }
}

.price {
  font-size: 16px;
  font-weight: bold;
  margin-top: auto;
  font-weight: bold;
}

.btnReadMore {
  padding: 10px 16px;
  margin-top: auto;
  display: block;
  text-align: center;
  background-color: #2979ff;
  color: white;
  text-decoration: none;
  font-weight: 500;
  border-radius: 12px;
  transition: background 0.3s ease;
  cursor: pointer;
}

.btnReadMore:hover {
  background-color: #1565c0;
}

.imgWrapper {
  position: relative;
}

.imgWrapper {
  position: relative;
}
.icon {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.icon:hover {
  color: #3470ff;
}

.active {
  color: #3470ff;
}
