.wrapper {
  background-color: #2f303a;
  background-image: url(../../assets/Picture.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  position: relative;
  overflow: auto;
}

.wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  z-index: 1;
  margin-top: 10%;
  margin-bottom: 32px;
}

.slogan {
  font-size: 24px;
  line-height: 1.33;
  font-weight: 600;
  margin-bottom: 44px;
  z-index: 1;
}

.bthView {
  padding: 12px 28px;
  background-color: #3470ff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  z-index: 1;
  transition: background 0.3s ease;
  width: 276px;
  height: 44px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bthView:hover {
  background-color: #0b44cd;
}
